body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#statButton, #triviaButton{
    color: white;
}

#lr1{
    background-color: silver;
    color: slategrey;
}

#statIndicator{
    height: 2px;
    
}
#triviaIndicator{
    height: 2px;
    display: none;
}

html,
body {
  overflow-x: hidden;
}

.page {
  float: left;
  min-height: 100%;
}


.simulate {
  height: 2000px;
}
