html,
body {
  overflow-x: hidden;
  background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}



.page-container {
    margin-top: 75px;
}

#statButton, #triviaButton{
    color: white;
}

#lr1{
    background-color: silver;
    color: slategrey;
}

#statIndicator{
    height: 2px;
    
}
#triviaIndicator{
    height: 2px;
    display: none;
}

.page {
  float: left;
  min-height: 100%;
}

#bottomNavi a{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: medium;
    color: #800000;
}

.row{
    margin-bottom: 10px;
    margin-top: 10px;
}

#sample{
    max-height: 25vh;
}

#rosefireBtn {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#logInButton, #checkButton, #nextButton, #homeButton, #startButton {
    display: block;
    margin: 50px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px; 
}

#countryContainer {
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
}

h3 {
    text-align: center;
}

#heartLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#accountPage #applyBtn, #accountPage #deleteBtn {
    display: block;
    margin: 50px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px; 
}

#worldStatisticsContainer {
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    width: 100%;
    height: 50vh;
    bottom: 0;
    /* position: fixed; */
    /* overflow: hidden; */
}

#worldStatisticFrame {
    display:block;
    width: 94%;
    height: 50vh;
    margin: 0 ;
    
    background-color: #777;
}

.dropdown-menu-right{ 
    left: -128px;
}

#correct, #incorrect{
    display: none;
}

#fab{
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    background: green;
    color: white;
}

#viewTestPage .card-title,
#viewTestPage .card.subtitle{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.card{
    margin: 10px 0;
}


/* WORLD CONTAINER: */
#worldContainer {
    /* width:100%; */
    /* background-color: blue; */
    /* position: absolute; */
    bottom: 0;
}
/* END */

/* TABLE: */
table {
    width: 100%;
    height: 40%;
    position: absolute;
    /* top: 0;
    bottom: 9;
    left: 0;
    right: 0; */
    /* background-color: #800000; */
    border-spacing: 2px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgb(154, 154, 154);
}

caption {
    background-color: #800000;
    text-align: center;
    color: white;
    caption-side: top;
}
/* END */

/* #fab2{
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    background: green;
    color: white;
} */